a.p{
    color:inherit
}


h3.subheading-no-linebreak-under{
    padding-bottom:0;
}

h3.non-italic{
    font-family: 'futura book', sans-serif;
}

p.non-italic{
    font-family: 'futura book', sans-serif;
}