---
layout: default
title: L'amour a la plage
banner:
  banner-svg: /assets/images/dine-with-us.svg
  description: >-
    This is a short blurb about the restaurant introducing the concept of the
    venue & it’s menu. You can write as much or as little as you like here as an
    intro to the full menu below.
  overlay-color:
    color: '#722'
    opacity: 0
  image: /assets/images/cafe-spread.png
starters:
  - dish_name: bread and butter
    price: 100
  - dish_name: flatbread sourdough
    price: 120
  - dish_name: truffles toast
    price: 300
  - dish_name: beef tartar, potato millefeuilles
    price: 100
  - dish_name: tartelette sea bream, yuzu
    price: 450
  - dish_name: shimp cocktail, romesco, aioli
    price: 100
  - dish_name: pissaladiere, onion tart, w/ anchovies & olives
    price: 140
  - dish_name: gougere comte cheese & iberico ham
    price: 100
  - dish_name: burgundy snail and parsley butter
    price: 500
  - dish_name: smoked whitefish croquettes
    price: 100
  - dish_name: tapenade w/ garlic croutons
    price: 900
  - dish_name: marinated sweet peppers stuffed w/ tuna
    price: 100
mains:
  - dish_name: pink snapper in salt crust, flambed, beurre blanc noily prat
    price: 120
  - dish_name: skate wings milanese, grenobloise sauce
    price: 100
  - dish_name: wood fired half spring chicken, supreme sauce & basquaise condiment
    price: 150
  - dish_name: grilled octopus leg, miso corn & smoked potato espuma
    price: 110
  - dish_name: lamb shoulder confit, candied fruit, burnt green peas
    price: 100
  - dish_name: lobster glazed, brioche & claw salad
    price: 500
  - dish_name: dover sole meuniere, capers & citrus
    price: 1050
  - dish_name: hokkaido pork chop, mole salsa & pumpkin
    price: 900
  - dish_name: hanger steak cut
    price: 1500
  - dish_name: ribeye cut
    price: 1200
  - dish_name: beef wellington w/ foie gras & mushrooms
    price: 1100
deserts:
  - dish_name: pink snapper in salt crust, flambed, beurre blanc noily prat
    price: 120
  - dish_name: skate wings milanese, grenobloise sauce
    price: 100
  - dish_name: wood fired half spring chicken, supreme sauce & basquaise condiment
    price: 150
  - dish_name: grilled octopus leg, miso corn & smoked potato espuma
    price: 110
  - dish_name: lamb shoulder confit, candied fruit, burnt green peas
    price: 100
  - dish_name: lobster glazed, brioche & claw salad
    price: 500
  - dish_name: dover sole meuniere, capers & citrus
    price: 1050
  - dish_name: hokkaido pork chop, mole salsa & pumpkin
    price: 900
  - dish_name: hanger steak cut
    price: 1500
  - dish_name: ribeye cut
    price: 1200
  - dish_name: beef wellington w/ foie gras & mushrooms
    price: 1100
---
<header class="bright-section text-center relative z-20" style=" color: {{page.banner.text-color}};">
        <div class="absolute inset-0 grid grid-cols-2">
            <div class="absolute top-0 left-0 right-[50vw] h-full bg-cover bg-center" style="background-image: url('{{page.banner.image}}'); ">

            </div>
        </div>

        <div class="max-w-screen-lg mx-auto flex flex-col content-between min-h-[70vh] relative z-10">
            {% include nav.html %}
            <img src="{{page.banner.banner-svg}}" alt="starters" />
            <div class="grid grid-cols-2 p-8">
                <div></div>
                <div class="editable text-left justify-center p-8">
                    <p> {{page.banner.description}} </p>
                </div>

            </div>
        </div>
    </header>


    <!-- menu fun -->


    <section class="dark-section menu-section z-10 flex width-screen overflow-x-scroll p-0 h-initial" style="scroll-snap-type: x mandatory;">
        <!-- starters -->
        <div class="slider-menu-item z-10">
            <div class="max-w-screen-md mx-auto content-between relative z-10 pb-32">
                <div class="mb-8 text-center">
                    <img class="inline w-[50%]" src="/assets/images/starters.svg" alt="" />
                </div>
                {% for food in page.starters %}
                <div class="flex justify-between">
                    <p>{{food.dish_name}}</p>
                    <p>{{food.price}}</p>
                </div>
                
                {% endfor %}
                <img src="/assets/images/starter-pic.svg" style="position: absolute;
                bottom: -9rem;
                left: -8rem;
                width: 27rem;
                rotate: -1deg;" />
            </div>
            <div class="max-w-screen-lg mx-auto">
                <div class=" flex justify-end relative z-10">
                    <span class="menu-slider-button" onclick="slide(1)">
                        <img src="/assets/images/mains.svg" class="menu-slider-button-text w-32" alt="mains button" />
                        <img src="/assets/images/Arrow-1.svg" class="arrow-right" alt="Arrow to the left" />
                    </span>
                </div>
            </div>
        </div>
        <!-- mains -->
        <div class="slider-menu-item z-10">
            <div class="max-w-screen-md mx-auto content-between relative z-10   pb-32">
                <div class="mb-8 text-center">
                    <img class="inline w-[50%]" src="/assets/images/starters.svg" alt="" />
                </div>
                {% for food in page.mains %}
                <div class="flex justify-between relative z-10">
                    <p>{{food.dish_name}}</p>
                    <p>{{food.price}}</p>
                </div>
                
                {% endfor %}
                <img src="/assets/images/mains-pic.svg" style="position: absolute;
                    top: -14%;
                    left: -9rem;
                    width: 21rem;
                    rotate: -1deg;" />
            </div>
            <div class="max-w-screen-lg mx-auto">
                <div class=" flex justify-between relative z-10">
                    <span class="menu-slider-button" onclick="slide(0)">
                        <img src="/assets/images/starters.svg" class="menu-slider-button-text w-32" alt="mains button" />
                        <img src="/assets/images/Arrow-1.svg" class="arrow-left" alt="Arrow to the left" />
                    </span>
                    <span class="menu-slider-button" onclick="slide(2)">
                        <img src="/assets/images/deserts.svg" class="menu-slider-button-text w-32" alt="mains button" />
                        <img src="/assets/images/Arrow-1.svg" class="arrow-right" alt="Arrow to the left" />
                    </span>
            </div>
            </div>
        </div>
        <!-- deserts -->
        <div class="slider-menu-item z-10">
            <div class="max-w-screen-md mx-auto content-between relative z-10   pb-32">
                <div class="mb-8 text-center">
                    <img class="inline w-[50%]" src="/assets/images/deserts.svg" alt="" />
                </div>
                {% for food in page.deserts %}
                <div class="flex justify-between">
                    <p>{{food.dish_name}}</p>
                    <p>{{food.price}}</p>
                </div>
                
                {% endfor %}
            </div>
            <div class="max-w-screen-lg mx-auto">
                <div class=" flex justify-between relative z-10">
                    <span class="menu-slider-button" onclick="slide(1)">
                        <img src="/assets/images/mains.svg" class="menu-slider-button-text w-32" alt="mains button" />
                        <img src="/assets/images/Arrow-1.svg" class="arrow-left" alt="Arrow to the left" />
                    </span>
                    <span class="menu-slider-button">
                        <img src="/assets/images/Make-a-reservation.svg" class="menu-slider-button-text " style="width: 26rem;" alt="mains button" />
                        <img src="/assets/images/Arrow-1.svg" class="arrow-right" alt="Arrow to the left" />
                    </span>
                </div>
                <!-- todo add reservation link -->
            </div>
        </div>
    </section>

    <style>

    </style>

<script>
const menuSection = document.querySelector('.menu-section');
const menuItems = document.querySelectorAll('.slider-menu-item');

let largestMenu = 0;

menuItems.forEach((menu, index) => {
console.log(menu,menu.offsetHeight,largestMenu);
    if (menu.offsetHeight > largestMenu) {
        largestMenu = menu.offsetHeight;
    }
})

menuSection.style.height = `${largestMenu * 1.25}px`;


        function slide(x) {
            console.log(x);
            menuSection.scrollTo({
                left: x * window.innerWidth,
                behavior: 'smooth'
            });
        }
    </script>

    <section class="base-section relative z-10 py-64">
        <div class="max-w-screen-sm mx-auto">
            <div class="text-center">
                <img src="/assets/images/make-a-reservatrion-large.svg" alt="" class="mx-auto" style="width: 23rem;" />

            </div>
            <div class="editable flex flex-col text-center">
                <p></p>
                <p></p>
                <p></p>
                <p> This is a short blurb about the restaurant introducing the concept of the venue & it’s menu. You can write as much or as little as you like here as an intro to the full menu.ow.
                    </p>
                    <p></p>
                    <p></p>
                    <p>
                        <a class="px-8 py-4 mb-16 dark-section editable letter-spacing" href="/maplink">BOOK NOW</a>
                    </p>       
                    

            </div>

    </div></section>

    <section class="bg-cover bg-center relative z-10" style="background-image: url('/assets/images/beach.png'); min-height: 60vh;">>

    </section>