---
layout: default
title: L'amour a la plage
banner:
  description: >-
   Designed by Chef Darquin, our French co-founder, this menu tells two stories: the raw delicacy of crudo and the bold power of dishes touched by fire. Fresh, simple, yet refined, each plate carries the soul of the Mediterranean and the effortless elegance of the Riviera. We work exclusively with sustainable local fishermen. As such, our fish offering may vary depending on the day’s freshest catch.
  text-color: '#ffffff'
  overlay-color:
    color: '#722'
    opacity: 0
  image: /assets/images/giselle-website-1.jpg
  hide-small-logo: false
burger-menu:
  background-color: '#e6b446'
  text-color: '#fff'
menus:
  - name: bites
    dishes:
    - dish_name: Truffles Croques Toast
      price: 100
    - dish_name: Beef Tartare, Potato Millefeuilles
      price: 120
    - dish_name: Tartelette Sea Bream, Yuzu
      price: 300
    - dish_name: Marinated Sweet Peppers, Herbs Butter, Anchovies
      price: 100
    - dish_name: Smoked Whitefish Croquettes
      price: 450
  - name: plates
    dishes:
    - dish_name: Bread and Butter
      price: 100
    - dish_name: Jamon Iberico Bellota 
      price: 120
    - dish_name: Gougere Comte Cheese, Iberico Ham
      price: 300
    - dish_name: Pissaladière, Onion Tart with Anchovies and Olives
      price: 100
    - dish_name: Crab Roll, Crab Meat, Beurre Blanc, French Toast
      price: 450
    - dish_name: Ashari Clams, Sake, Beurre Blanc
      price: 100
    - dish_name: Gazpacho, Jamon Iberico, Melon
      price: 140
    - dish_name: Beef Tartare, Cured Egg Yolk, Potarto Chips, Parmesan Aioli
      price: 100
    - dish_name: Red Endives Salad, Ginger Vinaigrette, Tallegio
      price: 500
    - dish_name: Tomato, Mozzarella Di Buffala, Strawberries, Fresh Herbs
      price: 100
    - dish_name: Charcoal Ceasar Cos Salad, Anchovies, Crispy Skin
      price: 900
    - dish_name: Cauliflower, Tempura, Miso, Pesto
      price: 100
  - name: crudo
    dishes: 
    - dish_name: Oyster, Leche de Tigre, Tomatoes, Pickled Onion
      price: 100
    - dish_name: SeaFood Platter - Shrimps, Oysters, Raw Scallop, Tarama, Smoked Salmon, Ebi Shrimp Tin, Salmon Roe
      price: 120
    - dish_name: Caviar Tin, Brioche, Cream, Onion Espuma 
      price: 300
    - dish_name: Scallop Crudo, Cucumber, Lemon, Buttermilk
      price: 140
    - dish_name: Tuna Tartare, Yuzu, Cucumber, Avocado
      price: 450
    - dish_name: Ebi Shrimp Tin, Salmon Roe, Wasabi Mayo 
      price: 100
    - dish_name: Smoked Salmon Trout, Avocado, Jalapeno 
      price: 100
    - dish_name: Hamachi, Strawberry Cucumber, Basil Granita
      price: 100
    - dish_name: Mahi Mahi, Straciatella, Tarragon, Raddichio 
      price: 500
  - name: chef hors serie
    dishes:
    - dish_name: Madai Sashimi, Yuzukosho Vinaigrette
      price: 120
    - dish_name: Pici Pasta, Bisque, Lobster, Vodka Sauce
      price: 100
    - dish_name: Barramundi in Salt Crust, Flambeed, Beurre Blanc Noily Prat
      price: 150
    - dish_name: Beef Wellington, Foie Gras, Mushrooms
      price: 110
    - dish_name: Tomahawk
      price: 100
  - name: wood fired
    dishes:
    - dish_name: Grouper, Zucchini and Calamansi Butter Sauce
      price: 120
    - dish_name: Dover Sole Meunière, Capers, Citrus
      price: 100
    - dish_name: Organic Chicken, Supreme Sauce Yellow Wine, Basquaise Condiment
      price: 150
    - dish_name: Pork Chop, Mole Salsa, Pumpkin
      price: 110
    - dish_name: Beef Cheek, Pomme Paillasson, Chives Mayonnaise 
      price: 100
    - dish_name: Hanger Steak Cut /100g
      price: 500
    - dish_name: Rib Eye Cut /100g
      price: 1050
  - name: pasta and risotto
    dishes:
    - dish_name: Agnolotti, Truffle, Paris Ham, Comte
      price: 120
    - dish_name: Lemon Butter Linguine, Crab Meat, Parmesan 
      price: 100
    - dish_name: Wood Fired Gnocchi, Sage Pesto, Ricotta
      price: 150
    - dish_name: Foie Gras Risotto, Black Trumpets, Parsley Cream
      price: 110
  - name: sides
    dishes:

    - dish_name: Mashed Potatoes 
      price: 120
    - dish_name: French Fries 
      price: 100
    - dish_name: Woodfire Carrots, Garlic confit, Pollen
      price: 150
    - dish_name: Green Salad, Greens Peas, Pecorino, Cebette
      price: 110
    - dish_name: Riviera Salad, Ventresca, Green Beans, Baby Potatoes, Eggs, Olives, Anchovies, Parmegiano
      price: 100
  - name: deserts
    dishes:
    - dish_name: Grand Cru Chocolate Mousse, Olive Oil, Sea Salt
      price: 120
    - dish_name: Hazelnut and Vanilla Millefeuille, Praline
      price: 100
    - dish_name: Clafoutis, Seasonal Fruit
      price: 150
    - dish_name: Tiramisu 
      price: 110
    - dish_name: Profiteroles, Chantilly, Vanilla Ice Cream, Grand Cru Chocolate Sauce
      price: 100
footer:
  background: dark
---
<header class="bright-section text-center relative z-20 md:py-[5vh]" style=" color: {{page.banner.text-color}};">
        <div class="absolute inset-0 hidden md:grid grid-cols-2">
            <div class="absolute top-0 left-0 right-[50vw] h-full bg-cover bg-center" style="background-image: url('{{page.banner.image}}'); ">

            </div>
        </div>

        <div class="max-w-screen-2xl mx-auto flex flex-col content-between min-h-[95vh] relative z-30">
            {% include nav.html %}
          <div class=" px-12 md:p-0">

            <div class="mobile-banner bg-cover bg-cneter py-[30vh] md:py-0 mt-[9rem] md:mt-0">
              <div class="hidden md:block text-center">
                {% include banner-svg/dine-with-us.html width="80%" %}
              </div>
              <div class="md:hidden text-center">
                {% include banner-svg/menu.html width="80%" %}
              </div>
              <!-- <img src="{{page.banner.banner-svg}}" alt="starters" class="m-auto" style="width: 80%"/> -->
            </div>
          </div>

            <div class="md:grid grid-cols-2 p-12 m-auto">
                <div></div>
                <div class="text-left justify-center md:px-24">
                    <p> {{page.banner.description}} </p>
                </div>

            </div>
        </div>
    </header>

    <style>
        .mobile-banner{
            background-image: url('{{page.banner.image}}');
        }

        @media screen and (min-width: 768px) {
            .mobile-banner{
                background-image: none;
            }
          
        }

    </style>


    <!-- menu fun -->
    <section class="sticky top-0 z-20 md:py-4 flex flex-nowrap overflow-scroll base-section">
      {% for menu in page.menus %}
      <a class="{% if forloop.first %} pl-0 {% endif %} button whitespace-nowrap" href="#{{menu.name | replace: ' ',''}}">{{menu.name}}</a>
      {% endfor %}
    </section>

    <!-- extra sticky code -->
    <style>
      body {
        max-height: 100vh;
        overflow: scroll;
      }
    </style>

    <section class="menu-section z-10  p-0 h-initial" style="scroll-snap-type: x mandatory;">

{% for menu in page.menus %}
<div class="px-5p px-[5%] py-[5%]  {% cycle 'featured-section pb-0','featured-section pb-0','featured-section pb-0','featured-section','dark-section pb-0','dark-section pb-0','dark-section','bright-section' %}">
  
            <div class="max-w-screen-md mx-auto content-between relative z-10 md:pb-4 slider-menu-item" id="{{menu.name | replace: ' ',''}}">
                <div class="">
                  <h3 class="h1 cursive">
                    {{menu.name}}
                  </h3>
                </div>
                {% for food in menu.dishes %}
                <div class="flex justify-between gap-8">
                    <p>{{food.dish_name}}</p>
                    <!-- <p>{{food.price}}</p> -->
                </div>
                
                {% endfor %}

            </div>
            
</div>
            {% endfor %}
            
    </section>

    <style>
        .menu-section p {
        padding-bottom: .3em;
        }

        .menu-section h3 {
          font-size: 3rem;  
        }
        @media (min-width: 768px) {
        .menu-section h3 {
          font-size: 4rem;
        }
        }

      .px-5p {
        padding-left: 5%;
        padding-right: 5%; 
      }
    </style>
<!-- 
<script>
const menuSection = document.querySelector('.menu-section');
const menuItems = document.querySelectorAll('.slider-menu-item');

let largestMenu = 0;

menuItems.forEach((menu, index) => {
console.log(menu,menu.offsetHeight,largestMenu);
    if (menu.offsetHeight > largestMenu) {
        largestMenu = menu.offsetHeight;
    }
})

// menuSection.style.height = `${largestMenu * 1.1}px`;


        function slide(x) {
            console.log(x);
            menuSection.scrollTo({
                left: x * window.innerWidth,
                behavior: 'smooth'
            });
        }
    </script> -->

    <section class="base-section relative z-30 md:py-64 ">
        <div class="max-w-screen-sm mx-auto">
            <div class="text-center">
                <img src="/assets/images/make-a-reservatrion-large.svg" alt="" class="mx-auto" style="width: 23rem;" />
            </div>
            <div class="editable flex flex-col text-center">
              <p></p>
              <p></p>

                <p> Giselle is a restaurant born from friendship and love, created by a group of friends with deep roots and experience in hospitality. More than just a place to eat, it reflects the soul of the Riviera — warm, vibrant, and timeless, like an endless summer. </p>
              <p></p>
              <p></p>

            </div>
            <div class="text-center">
              <span class=" px-8 py-4 inline-block dark-section editable letter-spacing reservation-button">BOOK NOW</span>
            </div>
            

    </div></section>

    <section class="bg-cover bg-center relative z-30" style="background-image: url('/assets/images/beach.png'); min-height: min(44vw,50vh);">>

    </section>