/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */

:root{
    --dark-color: #9f4837;
    --featured-color: #e8d8b1;
    --bright-color: #e6b446;
}

@font-face {
    font-family: 'futura book';
    src: url(/assets/Fonts/Futura-Book-font.ttf) format('truetype');
}
@font-face {
    font-family: 'futura book italic';
    src: url(/assets/Fonts/Futura-Book-Italic-font.ttf) format('truetype');
}


*{
    scroll-behavior: smooth;
}

* img {
    max-width: 100%;
 display: inline-block;
}

html,body {
    width: 100vw;
    overflow-x: hidden;
    /* height: 100vh; */
}



.base-section,body {
    background-color: #fff;
    color: var(--dark-color);
}

.dark-section {
    background-color: var(--dark-color);
    color: var(--featured-color);
    --svg-color: var(--featured-color);
}

.featured-section {
    background-color: var(--featured-color);
    color: var(--dark-color);
    --svg-color: var(--dark-color);

}

.bright-section {
    background-color: var(--bright-color);
    color: #fff;
    --svg-color: #fff;

}

.base-section path, body{
    fill: var(--dark-color);
}

.dark-section path{
    fill:  var(--featured-color);
}

.featured-section path {
    fill: var(--dark-color);
}

.bright-section path{
    fill: #fff;
}


footer,section,article,aside,nav,main {
    display: block;
    padding: 5%;
    position: relative;
}

header {
    color: var(--featured-color);
}

header a {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'futura book italic';
  padding: 1.2rem;
  text-transform: uppercase;
} 


.alt-max-width {
    padding-left: max(5%, calc((100vw - 1536px)/2) );
    padding-right: max(5%, calc((100vw - 1536px)/2) );
}



h1,h2,h3,h4,h5,h6,p{
    padding-bottom: 1em;
}

h1,.h1 {
    font-family: 'futura book italic', sans-serif;
    font-size: max(3.5rem, 5vw);
}
h2,.h2 {
    font-family: 'futura book', sans-serif;
    font-size: 2rem;
}  
h3,.h3 {
    font-family: 'futura book italic', sans-serif;
    font-size: 1.5rem;
}

p,.p{
    min-height: 1px;
    font-size: 1.25rem;
    font-family: 'futura book italic', sans-serif;

}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.button-subtle {
    border-bottom: 1px solid;
}

.button-subtle::after {
    content: '→';
}

footer a, footer h3 {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    letter-spacing: 3px;
}

footer svg {
    position: relative;
    left: 0rem;
    max-height: 40vh;
    width: 35%;
}



footer h3 {
    letter-spacing: 3px;
}

footer .footer-p{
    font-size: 1rem;
}

footer input::placeholder {
    color: var(--dark-color);
    text-transform: uppercase;
    letter-spacing: 3px;
}

@media (min-width: 768px) {
    footer svg {
        left: -5%;
        width: 10rem;
   }
}

.letter-spacing {
    letter-spacing: 0.1rem;
}
.italic {
    font-family: 'futura book italic', sans-serif;
}

.copyright {
    font-size: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: .5rem;
    letter-spacing: 2px;
}


.has-arrow {
    position: relative;

}

.has-arrow:has(input:not(:placeholder-shown))::after {
    content: url(/assets/images/svg-arrow.svg);
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid var(--dark-color);
}






/* slideshow lazyloading images */
.data-divs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 1px;
    height: 1px;
    left:100vw
}

/* menu slider */


.slider-menu-item {
    width: 100vw;
    flex: 0 0 100vw;
    padding:10% 5%;
    scroll-snap-align: center;
    scroll-margin-top: 130px;
}

.menu-slider-button  {
    cursor: pointer;
}

.menu-slider-button .arrow-right {
    width: 5rem;
    position: absolute;
    bottom: -2rem;
    right: 0;
}
.menu-slider-button .arrow-left {
    width: 5rem;
    position: absolute;
    bottom: -2rem;
    left: 0;
    rotate: 180deg;
}

@media screen and (min-width: 1000px) {
    .menu-slider-button .arrow-right {
        width: 7rem;
        right: -2rem;
    }
    .menu-slider-button .arrow-left {
        width: 7rem;
        left: -2rem;
    }
    
}

/* burger */

.burger-button {
  position: relative;
  top: -1rem;
  right: 5%;
  z-index: 9;
  padding: 8px;
}
/*this is where you can chand the color of the buttons*/
.burger-button span{
  width: 40px;
  border: 1px solid var(--text-color);
  background-color: var(--text-color);
  display: block;
  border-radius: 22px;
  transition: .5s opacity;
}
.burger-x-1, .burger-x-2{
  opacity: 0;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: -03px;
}

.burger-bottom{
  bottom: -03px;
}
.burger-x-1{
  position: absolute;
  top: 8px;
  transform: rotateZ(45deg);
}
.burger-x-2{
  position: absolute;
  bottom: 8px;
  transform: rotateZ(-45deg);
}

.burger-button.active .burger-middle, .burger-button.active .burger-top, .burger-button.active .burger-bottom{
  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

.burger-button.active .burger-x-1, .burger-button.active .burger-x-2{
  opacity: 1;
}


.burger-menu {
    position: fixed;
    top: 0vh;
    left:100vw;
    right: -100vw;
    bottom: 0vh;
    /* background-color: #f9f9f9; */
    padding:5px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
    z-index: 8;
  transition:1s;
    align-content:space-around;
  justify-content:space-around;
  flex-direction:column;
}
.burger-menu.active{
  left:00vw;
  right:0;
}
.burger-menu a {
  text-decoration: none;
  display:block;
  padding:5px 15px;
  text-align:center;
  white-space:nowrap;
}