<div id="mc_embed_shell">



<div id="mc_embed_signup" class="p-8 relative">
    <span class="absolute top-8 right-8 X" onclick="document.querySelector('.form-pop-up').close()">X</span>
    <form action="https://kelapacreative.us18.list-manage.com/subscribe/post?u=6a442aa17f5764aa62bf99185&amp;id=8e0f7bbced&amp;f_id=0049a9e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div id="mc_embed_signup_scroll" class="grid md:grid-cols-2 gap-8">
            <h2 class="text-center col-span-full">Get on the list</h2>

            <div class="mc-field-group"><label for="mce-FNAME">First Name</label><input type="text" name="FNAME" class="required text" id="mce-FNAME" value="" required="" placeholder="Your First Name">
            </div>
            <div class="mc-field-group"><label for="mce-LNAME">Last Name </label><input type="text" name="LNAME" class=" text" id="mce-LNAME" value="" placeholder="Your last Name">
            </div>
            <div class="mc-field-group col-span-full">
                <label for="mce-EMAIL">Email Address</label>
                <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="" placeholder="Your Email">
            </div>
            <div class="col-span-full flex justify-center">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button  base-section" value="Subscribe" style="background-color: #E8D8B1;"  onclick="document.querySelector('.form-pop-up').close()">
            </div>

        <div aria-hidden="true" style="position: absolute; left: -5000px;">
            /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
            <input type="text" name="b_6a442aa17f5764aa62bf99185_8e0f7bbced" tabindex="-1" value="">
        </div>
    </div>
</form>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[6]='COMPANY';ftypes[6]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>


<style>
        #mc_embed_signup .x{
font-size: 1.5rem;
        }

        #mc_embed_signup label{
            display: block;
            margin-bottom: 1rem;
        }
        #mc_embed_signup input{
        display: block;
        width: 100%;
        padding: .5em 1em;
        color: var(--dark-color);
        }
        #mc_embed_signup input[type="submit"]{
            display: inline-block;
            width: initial;
        }
    </style>