<svg style="width:{{include.width}}" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg" class="no-fill text-menu-icon">
<path d="M7 5.25H17.5" stroke="#9F4837" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3.5 5.2602L3.51006 5.24902" stroke="#9F4837" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3.5 10.5102L3.51006 10.499" stroke="#9F4837" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3.5 15.7602L3.51006 15.749" stroke="#9F4837" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7 10.5H17.5" stroke="#9F4837" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M7 15.75H17.5" stroke="#9F4837" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
