<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{{page.title}}</title>
</head>

<body class="height-screen relative base-section">
    <div class="sticky right-0 top-[50%] z-10">
    <a href="/assets/images/map.png" class="italic dark-section uppercase p-4 text-center absolute block -rotate-90 letter-spacing" style="width: 12rem;
right: -4rem;" target="_blank"><span>view menu</span></a>
</div>
{% if page.url == '/' %}
    <header class="dark-section min-h-screen bg-cover bg-center text-center relative z-20" style="background-image: url('{{page.banner.image}}'); color: {{page.banner.text-color}};">
        <div class="absolute inset-0" style="opacity:{{page.banner.overlay-color.opacity}}; background:{{page.banner.overlay-color.color}}"></div>
        {% if page.banner.video.file %}
        <video autoplay muted loop class="absolute inset-0 w-full h-full object-cover">
            <source src="{{page.banner.video.file}}" type="{{page.banner.video.file_type}}">
            Your browser does not support the video tag.    
        </video>
        {% endif %}
        <div class="max-w-screen-lg mx-auto flex flex-col content-between min-h-[90vh]">
            <nav class="flex relative">
                <a href="/">Menu</a>
                <a href="/about">About</a>
                <h2 class="m-auto">
                    Gisille
                </h2>
                <a href="/booking">Booking</a>
                <a href="/info">Info</a>
            </nav>
            <h1 class="font-bold m-auto relative">{{page.banner.banner-heading}}</h1>
            <p class="m-auto max-w-2xl relative">
                {{page.banner.description}}
            </p>
        </div>
    </header>
{% else %}
    <header class="dark-section bg-cover bg-center text-center relative z-20 py-[5vh] min-h-[90vh] flex flex-col justify-between items-center" style="background-image: url('{{page.banner.image}}'); color: {{page.banner.text-color}};">
        <div class="absolute inset-0" style="opacity:{{page.banner.overlay-color.opacity}}; background:{{page.banner.overlay-color.color}}"></div>
        {% if page.banner.video.file %}
        <video autoplay muted loop class="absolute inset-0 w-full h-full object-cover">
            <source src="{{page.banner.video.file}}" type="{{page.banner.video.file_type}}">
            Your browser does not support the video tag.    
        </video>
        {% endif %}
        <div class="max-w-screen-lg w-full">
            <nav class="flex relative">
                <a href="/">Menu</a>
                <a href="/about">About</a>
                <h2 class="m-auto">
                    Gisille
                </h2>
                <a href="/booking">Booking</a>
                <a href="/info">Info</a>
            </nav>
        </div>
        <div class="tickerBanner">
            {% for message in page.banner.banner_message %}
                <h2 class="text-block ticketbanner-text-extra-large">{{message.text}}</h2>
            {% endfor %}
        </div>
        <div class="max-w-screen-lg mx-auto flex flex-col content-between">
            <p class="m-auto max-w-2xl relative">
                {{page.banner.description}}
            </p>
        
        </div>
    </header>

<style>


.tickerBanner{
  --bannerBlockLength: 280px;
  --bannerBlockTime: 2s;
overflow-X: hidden;
display: flex;
flex-direction: row-reverse;
text-align: center;
}


.tickerBanner .img {
  width: 600px;
  height: 400px;
  flex-shrink: 0;
}

.tickerBanner > * {
  display: inline-block;
  padding: 1vw;
  flex-shrink: 0;
  position: relative;
}

.tickerBanner.active > * {
  animation: ticker 2s infinite linear;
  animation-duration: var(--bannerBlockTime), 2s;
} 
.ticketbanner-text-extra-large{
    font-size: 15vw;
}



@keyframes ticker {
    from {left:0}
    to   {left:var(--bannerBlockLength)}
}
</style>


<script>
  const tickerBanners = document.querySelectorAll('.tickerBanner');

console.log(tickerBanners)

tickerBanners.forEach(banner => {



  let textBlock = banner.querySelectorAll('.text-block');



  let bannerBlock = 0;
  textBlock.forEach( block => {
    bannerBlock += block.offsetWidth
  });

  let bannerLength = bannerBlock
  console.log(bannerBlock)
  console.log(bannerLength)
  
  
  banner.style.setProperty('--bannerBlockLength', `${bannerBlock}px`);
  banner.style.setProperty('--bannerBlockTime', `${(bannerBlock / 50)}s`);

  
  function extendBanner() {
    // debugger
  if (bannerLength < (screen.width + bannerBlock) ) {
    textBlock.forEach(block => {
      console.log(block.innerHTML)
      // add the newly created element and its content into the DOM
      banner.appendChild(block.cloneNode(true));
      // banner.querySelector('a:last-child').innerHTML = block.innerHTML
      // banner.querySelector('a:last-child').href = block.href
      
    });
    bannerLength += bannerBlock;
    console.log(bannerLength) 
    extendBanner()
  } else {
    banner.classList.add('active')
  }

  }



  extendBanner()

  console.log(bannerLength)

})

</script>

    {% endif %}
    {{content}}

    <footer class="dark-section ">
        <div class="max-w-screen-lg mx-auto flex flex-col md:grid grid-cols-8 dark-section gap-2">
            <div class="col-span-3">
                <img src="/assets/images/footer-logo.png" alt="Giselle logo">
                <div class="editable">
                    <h3 class="editable">NEWSLETTER SIGN UP</h3>
                    <p class="editable">
                        Exclusive updates, sneak preiews, VIP opportunities
                    </p>
                </div>
            </div>
            <div class="row-span-2">

            </div>
            <div class="flex flex-col items-start justify-center col-span-2">
                <a href="/">RESERVATIONS</a>
                <a href="/">MENU</a>
                <a href="/">ABOUT US</a>
                <a href="/">CONTACT</a>
            </div>
            <div class="flex flex-col items-start justify-center col-span-2">
                <a href="/">RESERVATIONS</a>
                <a href="/">MENU</a>
                <a href="/">ABOUT US</a>
                <a href="/">CONTACT</a>
            </div>
            
            <form action="" class="col-span-3">
                <input type="text" placeholder="Email" class="featured-section p-2 w-[50%] md:w-full block">
            </form>
            <div class="col-span-4">
                <p class="copyright">© Copyright Giselle Bali 2025. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</body>

</html>
