<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{{page.title}}</title>
</head>

<body class="height-screen relative base-section">
    <div class="sticky right-0 top-[50%] z-10">
    <a href="/assets/images/map.png" class=" dark-section uppercase p-4 text-center absolute block -rotate-90 h3" style="width: 12rem;
right: -4rem;" target="_blank"><span>view menu</span></a>
</div>
    <header class="dark-section min-h-screen flex flex-col bg-cover bg-center text-center relative z-20" style="background-image: url('{{page.banner.image}}'); color: {{page.banner.text-color}};">
        <div class="absolute inset-0" style="opacity:{{page.banner.overlay-color.opacity}}; background:{{page.banner.overlay-color.color}}"></div>
        {% if page.banner.video.file %}
        <video autoplay muted loop class="absolute inset-0 w-full h-full object-cover">
            <source src="{{page.banner.video.file}}" type="{{page.banner.video.file_type}}">
            Your browser does not support the video tag.    
        </video>
        {% endif %}
        <nav class="flex relative">
            <a href="/">Menu</a>
            <a href="/about">about</a>
            <h2 class="m-auto">
                Gisille
            </h2>
            <a href="/booking">booking</a>
            <a href="/info">info</a>
        </nav>
        <h1 class="font-bold m-auto relative">{{page.title}}</h1>
        <p class="m-auto max-w-2xl relative">
            {{page.banner.description}}
        </p>
    </header>
    {{content}}

    <footer class="flex flex-col md:grid grid-cols-8 dark-section gap-2">
        <div class="col-span-3">
            <img src="/assets/images/footer-logo.png" alt="Giselle logo">
            <div class="editable">
                <h3 class="editable">NEWSLETTER SIGN UP</h3>
                <p class="editable">
                    Exclusive updates, sneak preiews, VIP opportunities
                </p>
            </div>
        </div>
        <div class="row-span-2">

        </div>
        <div class="flex flex-col items-start justify-center col-span-2">
            <a href="/">RESERVATIONS</a>
            <a href="/">MENU</a>
            <a href="/">ABOUT US</a>
            <a href="/">CONTACT</a>
        </div>
        <div class="flex flex-col items-start justify-center col-span-2">
            <a href="/">RESERVATIONS</a>
            <a href="/">MENU</a>
            <a href="/">ABOUT US</a>
            <a href="/">CONTACT</a>
        </div>
        
        <form action="" class="col-span-3">
            <input type="text" placeholder="Email" class="featured-section p-2 w-[50%] md:w-full block">
        </form>
        <div class="col-span-4">
            <p>© Copyright Giselle Bali 2025. All Rights Reserved.</p>
        </div>
    </footer>
</body>

</html>
